@import url("https://fonts.googleapis.com/css?family=Lato");
.u-m0 {
  margin: 0px;
}

.u-mt0 {
  margin-top: 0px;
}

.u-mr0 {
  margin-right: 0px;
}

.u-mb0 {
  margin-bottom: 0px;
}

.u-ml0 {
  margin-left: 0px;
}

.u-p0 {
  padding: 0px;
}

.u-pt0 {
  padding-top: 0px;
}

.u-pr0 {
  padding-right: 0px;
}

.u-pb0 {
  padding-bottom: 0px;
}

.u-pl0 {
  padding-left: 0px;
}

.u-m5 {
  margin: 5px;
}

.u-mt5 {
  margin-top: 5px;
}

.u-mr5 {
  margin-right: 5px;
}

.u-mb5 {
  margin-bottom: 5px;
}

.u-ml5 {
  margin-left: 5px;
}

.u-p5 {
  padding: 5px;
}

.u-pt5 {
  padding-top: 5px;
}

.u-pr5 {
  padding-right: 5px;
}

.u-pb5 {
  padding-bottom: 5px;
}

.u-pl5 {
  padding-left: 5px;
}

.u-m10 {
  margin: 10px;
}

.u-mt10 {
  margin-top: 10px;
}

.u-mr10 {
  margin-right: 10px;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-ml10 {
  margin-left: 10px;
}

.u-p10 {
  padding: 10px;
}

.u-pt10 {
  padding-top: 10px;
}

.u-pr10 {
  padding-right: 10px;
}

.u-pb10 {
  padding-bottom: 10px;
}

.u-pl10 {
  padding-left: 10px;
}

.u-m15 {
  margin: 15px;
}

.u-mt15 {
  margin-top: 15px;
}

.u-mr15 {
  margin-right: 15px;
}

.u-mb15 {
  margin-bottom: 15px;
}

.u-ml15 {
  margin-left: 15px;
}

.u-p15 {
  padding: 15px;
}

.u-pt15 {
  padding-top: 15px;
}

.u-pr15 {
  padding-right: 15px;
}

.u-pb15 {
  padding-bottom: 15px;
}

.u-pl15 {
  padding-left: 15px;
}

.u-m20 {
  margin: 20px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mr20 {
  margin-right: 20px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-ml20 {
  margin-left: 20px;
}

.u-p20 {
  padding: 20px;
}

.u-pt20 {
  padding-top: 20px;
}

.u-pr20 {
  padding-right: 20px;
}

.u-pb20 {
  padding-bottom: 20px;
}

.u-pl20 {
  padding-left: 20px;
}

.u-m25 {
  margin: 25px;
}

.u-mt25 {
  margin-top: 25px;
}

.u-mr25 {
  margin-right: 25px;
}

.u-mb25 {
  margin-bottom: 25px;
}

.u-ml25 {
  margin-left: 25px;
}

.u-p25 {
  padding: 25px;
}

.u-pt25 {
  padding-top: 25px;
}

.u-pr25 {
  padding-right: 25px;
}

.u-pb25 {
  padding-bottom: 25px;
}

.u-pl25 {
  padding-left: 25px;
}

.u-m30 {
  margin: 30px;
}

.u-mt30 {
  margin-top: 30px;
}

.u-mr30 {
  margin-right: 30px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-ml30 {
  margin-left: 30px;
}

.u-p30 {
  padding: 30px;
}

.u-pt30 {
  padding-top: 30px;
}

.u-pr30 {
  padding-right: 30px;
}

.u-pb30 {
  padding-bottom: 30px;
}

.u-pl30 {
  padding-left: 30px;
}

.u-m-auto {
  margin: auto;
}

.u-mt-auto {
  margin-top: auto;
}

.u-mr-auto {
  margin-right: auto;
}

.u-mb-auto {
  margin-bottom: auto;
}

.u-ml-auto {
  margin-left: auto;
}

.u-p-auto {
  padding: auto;
}

.u-pt-auto {
  padding-top: auto;
}

.u-pr-auto {
  padding-right: auto;
}

.u-pb-auto {
  padding-bottom: auto;
}

.u-pl-auto {
  padding-left: auto;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1170px;
  }
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 6px;
  background: #bbb;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: #451b73;
  border-radius: 3px;
}

.page {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.page-wrap {
  height: 66%;
  position: absolute;
  left: 0;
  top: 18%;
  display: -ms-flexbox;
  display: flex;
  transition: left .6s;
}

@media screen and (max-width: 767px) {
  .page-wrap {
    height: calc(100% - 215px);
    top: 90px;
  }
}

@media screen and (max-width: 480px) {
  .page-wrap {
    height: calc(100% - 210);
    top: 60px;
  }
}

.page-content {
  width: 100vw;
  height: 100%;
}

.page-content-wrap {
  height: 100%;
  padding: 0 0 0 7%;
}

.page-content__left {
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .page-content__left {
    width: 100%;
  }
}

.page-content__right {
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .page-content__right {
    display: none;
  }
}

.page-content .content-title {
  height: 30%;
  font-size: 60px;
  font-weight: 700;
  color: #451b73;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  line-height: 1;
}

@media screen and (max-width: 1439px) {
  .page-content .content-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .page-content .content-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .page-content .content-title {
    height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .page-content .content-title {
    font-size: 28px;
  }
}

.page-content .content-title img {
  margin-right: 20px;
}

@media screen and (max-width: 1439px) {
  .page-content .content-title img {
    height: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .page-content .content-title img {
    height: 46px;
  }
}

@media screen and (max-width: 480px) {
  .page-content .content-title img {
    height: 40px;
  }
}

.page-content .content-slider {
  padding: 5% 25% 20px 4%;
  height: 70%;
}

@media screen and (max-width: 1024px) {
  .page-content .content-slider {
    padding: 3% 3% 20px 3%;
  }
}

@media screen and (max-width: 767px) {
  .page-content .content-slider {
    height: calc(100% - 50px);
  }
}

@media screen and (max-width: 480px) {
  .page-content .content-slider {
    padding: 20px 5px;
  }
}

.page-content .content-slider__item {
  letter-spacing: .27px;
  color: #060c22;
  font-weight: 600;
  opacity: .85;
  line-height: 2.2;
  overflow-y: auto;
  height: calc(100% - 42px);
  padding: 0 15px 0 0;
  display: none;
}

@media screen and (max-width: 1439px) {
  .page-content .content-slider__item {
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .page-content .content-slider__item {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .page-content .content-slider__item {
    height: initial;
    max-height: calc(100% - 42px);
  }
}

.page-content .content-slider__item.active {
  display: block;
}

.page-content .content-slider__control {
  height: 42px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 15px;
}

@media screen and (max-width: 1439px) {
  .page-content .content-slider__control {
    padding-top: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .page-content .content-slider__control {
    padding-top: 26px;
  }
}

.page-content .content-slider .icon-left {
  max-height: 27px;
  opacity: .4;
  margin: 0 5px;
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .page-content .content-slider .icon-left {
    max-height: 22px;
  }
}

@media screen and (max-width: 1199px) {
  .page-content .content-slider .icon-left {
    max-height: 16px;
  }
}

.page-content .content-slider .icon-right {
  max-height: 27px;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  opacity: .4;
  margin: 0 5px;
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .page-content .content-slider .icon-right {
    max-height: 22px;
  }
}

@media screen and (max-width: 1199px) {
  .page-content .content-slider .icon-right {
    max-height: 16px;
  }
}

.page-content .content-slider .pagi-item {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 5px;
  margin: 0 5px;
}

@media screen and (max-width: 1199px) {
  .page-content .content-slider .pagi-item {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}

.page-content .content-slider .pagi-item.active {
  background: black;
}

.page-content--introduce .page-content-wrap {
  display: -ms-flexbox;
  display: flex;
}

.page-content--hackathon .page-content-wrap {
  display: -ms-flexbox;
  display: flex;
}

.link-hackathon{
  color: #451b73;
  border: 3px solid #451b73;
  border-radius: 24px;
  letter-spacing: 1.7px;
  font-size: 17px;
  color: #4c4c4c;
  font-weight: 700;
  line-height: 42px;
  padding: 0 26px;
  display: inline-block;
  transition: .3s;
  margin: 10%;
}

.link-hackathon:hover {
  text-decoration: none;
  background-color: #a989cc5e;
  transition: .3s;
}

.page-content--events .content-title {
  height: 100px;
}

@media screen and (max-width: 1199px) {
  .page-content--events .content-title {
    height: 80px;
  }
}

@media screen and (max-width: 991px) {
  .page-content--events .content-title {
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .page-content--events .content-title {
    height: 50px;
  }
}

.page-content--events .page-content-wrap {
  padding: 0 7%;
}

.content-events {
  height: calc(100% - 100px);
  padding-top: 37px;
}

@media screen and (max-width: 1199px) {
  .content-events {
    height: calc(100% - 80px);
  }
}

@media screen and (max-width: 991px) {
  .content-events {
    height: calc(100% - 60px);
  }
}

@media screen and (max-width: 767px) {
  .content-events {
    height: calc(100% - 50px);
    padding-top: 15px;
  }
}

.content-events-wrap {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: calc(100% + 36px);
  margin-left: -18px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .content-events-wrap {
    width: calc(100% + 14px);
    margin-left: -7px;
  }
}

.content-events .event-item {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid #707070;
  overflow: hidden;
  cursor: pointer;
}

.content-events .event-item-wrap {
  width: calc(100% / 4);
  padding: 0 18px;
}

@media screen and (max-width: 1024px) {
  .content-events .event-item-wrap {
    width: calc(100% / 2);
    padding: 7px;
  }
}

.content-events .event-item-wrap--large {
  width: calc(100% / 2);
}

@media screen and (max-width: 1024px) {
  .content-events .event-item-wrap--large {
    width: 100%;
    padding: 7px;
    -ms-flex-order: 2;
        order: 2;
  }
}

.content-events .event-item-info {
  position: absolute;
  left: 0;
  bottom: -110px;
  width: 100%;
  padding: 12px 56px 12px 12px;
  transition: all .4s;
  z-index: 2;
  background-image: url("../images/info.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: bottom 12px right 12px;
}

@media screen and (max-width: 1024px) {
  .content-events .event-item-info {
    bottom: 0;
    padding: 16px 46px 10px 10px;
    background-position: bottom 10px right 10px;
    background-size: 30px 30px;
  }
}

@media screen and (max-width: 767px) {
  .content-events .event-item-info {
    padding: 10px 40px 10px 10px;
    background-size: 26px 26px;
  }
}

@media screen and (max-width: 480px) {
  .content-events .event-item-info {
    background-image: none;
    padding: 5px;
  }
}

.content-events .event-item-info__title {
  font-size: 20px;
  color: white;
  font-weight: 700;
  letter-spacing: .8px;
}

@media screen and (max-width: 1024px) {
  .content-events .event-item-info__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .content-events .event-item-info__title {
    font-size: 12px;
    font-weight: 400;
  }
}

.content-events .event-item-info__date-location {
  font-size: 15px;
  letter-spacing: .6px;
  font-weight: 700;
  color: #b9b9b9;
}

@media screen and (max-width: 1024px) {
  .content-events .event-item-info__date-location {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .content-events .event-item-info__date-location {
    font-size: 10px;
    font-weight: 400;
  }
}

.content-events .event-item:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(69, 27, 115, 0.32);
  opacity: 0;
  transition: all .4s;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .content-events .event-item:after {
    background: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.3), black);
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .content-events .event-item:after {
    background: linear-gradient(rgba(60, 60, 60, 0.1), rgba(107, 107, 107, 0.7), black);
  }
}

.content-events .event-item:hover .event-item-info {
  bottom: 0;
  transition: all .4s;
}

.content-events .event-item:hover:after {
  opacity: 1;
  transition: all .4s;
}

.header {
  height: 18%;
  padding-left: 7%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

@media screen and (max-width: 767px) {
  .header {
    height: 90px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 60px;
  }
}

.header .logo {
  height: 27%;
  position: absolute;
  top: 38%;
}

@media screen and (max-width: 480px) {
  .header .logo {
    height: 40%;
    top: 30%;
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-right: 7%;
  padding-left: 9%;
}

@media screen and (max-width: 767px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    height: 125px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    height: 150px;
    padding-bottom: 20px;
  }
}

.footer-sub {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  width: 25%;
}

@media screen and (max-width: 1024px) {
  .footer-sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer-sub {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .footer-sub div {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer-sub div {
    display: none;
  }
}

.footer-nav {
  width: 65%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer-nav {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer-nav {
    width: 100%;
  }
}

.footer .sub-item {
  display: inline-block;
  transition: .3s;
}

.footer .sub-item:hover {
  text-decoration: none;
  background-color: #a989cc5e;
  transition: .3s;
}

.footer .sub-item--text {
  border: 3px solid;
  border-radius: 24px;
  letter-spacing: 1.7px;
  font-size: 17px;
  color: #4c4c4c;
  font-weight: 700;
  line-height: 42px;
  padding: 0 26px;
}

@media screen and (max-width: 1439px) {
  .footer .sub-item--text {
    line-height: 32px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .footer .sub-item--text {
    line-height: 28px;
    border-width: 2px;
  }
}

@media screen and (max-width: 1024px) {
  .footer .sub-item--text {
    line-height: 22px;
    margin: 3px 15px 3px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer .sub-item--text {
    padding: 0 16px;
  }
}

.footer .sub-item--icon {
  width: 48px;
  height: 48px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 50%;
  border: 3px solid black;
}

@media screen and (max-width: 1439px) {
  .footer .sub-item--icon {
    width: 38px;
    height: 38px;
  }
}

@media screen and (max-width: 1199px) {
  .footer .sub-item--icon {
    width: 32px;
    height: 32px;
    border-width: 2px;
  }
}

@media screen and (max-width: 1024px) {
  .footer .sub-item--icon {
    width: 26px;
    height: 26px;
    margin: 3px 5px 3px 0;
  }
}

.footer .sub-item--icon img {
  height: 60%;
}

.footer .nav-item {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #6a6d7a;
  position: relative;
  transition: color .4s;
}

@media screen and (max-width: 1919px) {
  .footer .nav-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 1439px) {
  .footer .nav-item {
    letter-spacing: .7px;
  }
}

@media screen and (max-width: 1199px) {
  .footer .nav-item {
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .footer .nav-item {
    font-size: 13px;
    margin: 5px 15px 5px 0;
    letter-spacing: 0;
  }
}

.footer .nav-item:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -6px;
  width: 0;
  height: 6px;
  background: #451b73;
  right: 0;
  opacity: 0;
  transition: all .4s;
}

@media screen and (max-width: 1439px) {
  .footer .nav-item:after {
    height: 3px;
    bottom: -3px;
  }
}

.footer .nav-item:hover {
  text-decoration: none;
  color: #451b73;
  transition: color .4s;
}

.footer .nav-item:hover:after {
  left: 0;
  opacity: 1;
  width: 100%;
  transition: all .4s;
}

.footer .nav-item.active {
  color: #451b73;
}

.footer .nav-item.active:after {
  width: 100%;
  opacity: 1;
}

.page-content-group .content-title {
  height: 90px;
}

.content-group {
  height: calc(100% - 100px);
  padding: 70px 0 30px;
}

.content-group-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

.content-group .group-item {
  width: calc(100% / 3);
  padding: 10px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

@media screen and (max-width: 767px) {
  .content-group .group-item {
    width: 50%;
  }
}

.content-group .group-wrap {
  text-align: center;
  height: 100%;
  display: inline-block;
  cursor: pointer;
}

.content-group .group-wrap img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 1439px) {
  .content-group .group-wrap img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .content-group .group-wrap img {
    width: 80px;
    height: 80px;
  }
}

.content-group .group-wrap:hover .group-title{
  color: #451b73;
}

.content-group .group-wrap:hover .group-title:after {
  width: 100%;
  left: 0;
}

.content-group .group-title {
  margin: 10px 0 0;
  font-size: 20px;
  font-weight: 700;
  color: #6a6d7a;
  letter-spacing: 2px;
  transition: .3s;
  position: relative;
  width: 100%;
  word-break: break-word;
}

@media screen and (max-width: 1439px) {
  .content-group .group-title {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1024px) {
  .content-group .group-title {
    font-size: 14px;
  }
}

.content-group .group-title:after {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 5px;
  right: 0;
  background: #451b73;
  transition: .3s;
}

.modal {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.67);
  padding: 38px;
  top: -100%;
  z-index: 10;
  transition: .4s;
}

@media screen and (max-width: 1024px) {
  .modal {
    padding: 15px;
  }
}

.modal.open {
  top: 0;
  transition: .7s;
}

.modal-content {
  padding: 60px 136px 77px 136px;
  border-radius: 16px;
  background: white;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1919px) {
  .modal-content {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 1024px) {
  .modal-content {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 767px) {
  .modal-content {
    padding: 12px;
  }
}

.modal-content-close {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  height: 38px;
  width: 100%;
}

@media screen and (max-width: 1919px) {
  .modal-content-close {
    height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .modal-content-close {
    height: 18px;
  }
}

.modal-content-close .icon-close {
  cursor: pointer;
  transition: all .2s;
  height: 100%;
}

.modal-content-close .icon-close:hover {
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  transition: all .2s;
}

.modal-content-wrap {
  height: calc(100% - 38px);
  padding-top: 60px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1919px) {
  .modal-content-wrap {
    height: calc(100% - 22px);
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .modal-content-wrap {
    height: calc(100% - 18px);
    padding-top: 10px;
  }
}

.modal .event-slider {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .modal .event-slider {
    width: 100%;
    height: 60%;
  }
}

@media screen and (max-width: 767px) {
  .modal .event-slider {
    height: 70%;
  }
}

.modal .event-slider-title {
  margin: 0;
  color: #451b73;
  font-size: 83px;
  letter-spacing: 6.64px;
  line-height: 89px;
  font-weight: 700;
}

@media screen and (max-width: 1919px) {
  .modal .event-slider-title {
    font-size: 46px;
    line-height: 52px;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 1024px) {
  .modal .event-slider-title {
    line-height: 38px;
    letter-spacing: 1px;
    font-size: 30px;
  }
  .modal .event-slider-title br {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .modal .event-slider-title {
    font-size: 22px;
    line-height: 30px;
    word-break: break-word;
  }
}

.modal .event-slider-location {
  font-size: 37px;
  letter-spacing: .93px;
  font-weight: 700;
  color: white;
  margin: 18px 0 30px 0;
  background: #451b73;
  line-height: 50px;
  padding: 0 12px;
  display: inline-block;
}

@media screen and (max-width: 1919px) {
  .modal .event-slider-location {
    padding: 0 10px;
    margin: 12px 0 15px 0;
    line-height: 38px;
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .modal .event-slider-location {
    font-size: 18px;
    line-height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .modal .event-slider-location {
    font-size: 13px;
    line-height: 26px;
  }
}

.modal .event-intro {
  width: 50%;
  height: calc(100% - 42px);
  overflow-y: auto;
  padding: 5px 20px 20px 40px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: .27px;
  color: rgba(0, 0, 0, 0.85);
}

@media screen and (max-width: 1919px) {
  .modal .event-intro {
    font-size: 16px;
    line-height: 34px;
  }
}

@media screen and (max-width: 1024px) {
  .modal .event-intro {
    width: 100%;
    height: calc(40% - 20px);
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .modal .event-intro {
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    height: calc(30% - 5px);
  }
}

.modal-group .modal-content-wrap {
  display: block;
}

.modal-group-title {
  font-size: 78px;
  letter-spacing: 7.2px;
  font-weight: 700;
  color: #451b73;
  margin: 0 0 15px 0;
  text-align: center;
  line-height: 1.1;
}

@media screen and (max-width: 1439px) {
  .modal-group-title {
    font-size: 36px;
    margin: 0 0 7px 0;
  }
}

.modal-group-tab {
  height: calc(100% - 100px);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .modal-group-tab {
    height: calc(100% - 46px);
  }
}

.modal-group-tab .tab-link {
  display: inline-block;
  margin: 0 18px;
  font-size: 18px;
  font-weight: 700;
  color: #6a6d7a;
  letter-spacing: 2px;
  position: relative;
  line-height: 30px;
  cursor: pointer;
}

@media screen and (max-width: 1439px) {
  .modal-group-tab .tab-link {
    font-size: 14px;
  }
}

.modal-group-tab .tab-link.active {
  color: #451b73;
}

.modal-group-tab .tab-link.active:after {
  width: 100%;
}

.modal-group-tab .tab-link:after {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 5px;
  right: 0;
  background: #451b73;
  transition: .3s;
}

.modal-group-tab .tab-link:hover {
  color: #451b73;
  transition: .3s;
}

.modal-group-tab .tab-link:hover:after {
  width: 100%;
  left: 0;
  transition: .3s;
}

.modal-group-tab .tab-link-group {
  margin-bottom: 60px;
}

@media screen and (max-width: 1439px) {
  .modal-group-tab .tab-link-group {
    margin-bottom: 30px;
  }
}

.modal-group-tab .tab-content {
  height: calc(100% - 90px);
}

@media screen and (max-width: 1024px) {
  .modal-group-tab .tab-content {
    height: calc(100% - 60px);
  }
}

.tab-content-item {
  width: 100%;
  height: 100%;
  display: none;
  overflow-y: auto;
}

.tab-content-item.active {
  display: block;
}

.tab-content-item-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.group-member {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.group-member-wrap {
  text-align: center;
}

.group-member__avatar {
  height: 170px;
}

.group-member__avatar-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.group-member__name {
  margin-top: 10px;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 20px;
  color: #6a6d7a;
  margin-bottom: 40px;
}

.content{
  width: 737px;
  height: 139px;
  opacity: 0.85;
  color: #060c22;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.27px;
  line-height: 39px;
}

.col-4 {
  width: calc(100% / 3);
}

.slider {
  overflow: hidden;
}

.content-slider-control {
  height: 42px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
}

.sub form{
  display: none;
}

#input-form{
  width: 160px;
  height: 30px;
  border-radius:10px;
  -moz-border-radius:13px;
  -webkit-border-radius:10px;
}

@media screen and (max-width: 1024px) {
  .content-slider-control {
    height: 30px;
  }
}

.content-slider-control .pagination-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 27px;
}

@media screen and (max-width: 1024px) {
  .content-slider-control .pagination-wrap {
    height: 20px;
  }
}

.content-slider-control .pagination-item {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #babcc2;
  margin: 0 6px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .content-slider-control .pagination-item {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}

.content-slider-control .pagination-item.active {
  background: #060c22;
}

.content-slider-control .icon-right {
  opacity: .46;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  margin: 0 6px;
  cursor: pointer;
  height: 27px;
}

@media screen and (max-width: 1024px) {
  .content-slider-control .icon-right {
    height: 20px;
  }
}

.content-slider-control .icon-left {
  opacity: .46;
  margin: 0 6px;
  cursor: pointer;
  height: 27px;
}

@media screen and (max-width: 1024px) {
  .content-slider-control .icon-left {
    height: 20px;
  }
}

.content-slider {
  height: calc(100% - 318px);
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1919px) {
  .content-slider {
    height: calc(100% - 211px);
  }
}

@media screen and (max-width: 1024px) {
  .content-slider {
    height: calc(100% - 150px);
  }
}

@media screen and (max-width: 767px) {
  .content-slider {
    height: calc(100% - 175px);
  }
}

.content-slider-wrap {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .4s;
}

.content-slider-item {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map */
.content-partners {
  height: calc(100% - 90px);
  position: relative;
  overflow: hidden;
}

.slider {
  overflow: hidden;
}

.partners-slider-wrap {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: calc(100% - 135px);
  position: absolute;
  top: 30px;
  left: 0;
  transition: .4s;
}

@media screen and (max-width: 767px) {
  .partners-slider-wrap {
    height: calc(100% - 155px);
  }
}

.partners-slider-item {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .partners-slider-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.partners-slider-item__icon {
  max-height: 64%;
  max-width: 37%;
}

@media screen and (max-width: 767px) {
  .partners-slider-item__icon {
    max-width: 70%;
    max-height: 40%;
    margin-bottom: 20px;
  }
}

.partners-slider-item__content {
  margin: 0 0 0 50px;
  max-width: 535px;
  line-height: 2.2;
  font-weight: 600;
  opacity: .85;
  letter-spacing: .27px;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 12px;
}

@media screen and (max-width: 1439px) {
  .partners-slider-item__content {
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .partners-slider-item__content {
    font-size: 14px;
    margin: 0 0 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .partners-slider-item__content {
    width: 100%;
    max-height: calc(60% - 20px);
    margin: 0;
  }
}

.partners-slider-control {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 30px;
  -ms-flex-align: center;
      align-items: center;
  height: 56px;
  position: absolute;
  width: 100%;
  bottom: 35px;
}

@media screen and (max-width: 767px) {
  .partners-slider-control {
    padding: 0 15px;
    height: 76px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.partners-slider-control .pagination-partners {
  filter: grayscale(1);
  cursor: pointer;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

@media screen and (max-width: 767px) {
  .partners-slider-control .pagination-partners {
    height: 38px;
  }
}

@media screen and (max-width: 480px) {
  .partners-slider-control .pagination-partners {
    width: calc(100% / 3);
  }
}

.partners-slider-control .pagination-partners:hover {
  filter: initial;
  filter: drop-shadow(0 0 1px gray);
}

.partners-slider-control .pagination-partners.active {
  filter: grayscale(0);
}

.partners-slider-control .pagination-partners:last-child {
  margin-right: 0;
}

.partners-slider-control .pagination-partners img {
  max-height: 100%;
  max-width: 90%;
}

.content-slider-control {
  height: 42px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .content-slider-control {
    height: 30px;
  }
}

.content-slider-control .pagination-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 27px;
}

@media screen and (max-width: 1024px) {
  .content-slider-control .pagination-wrap {
    height: 20px;
  }
}

.content-slider-control .pagination-item {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #babcc2;
  margin: 0 6px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .content-slider-control .pagination-item {
    width: 8px;
    height: 8px;
    border-radius: 4px;
  }
}

.content-slider-control .pagination-item.active {
  background: #060c22;
}

.content-slider-control .icon-right {
  opacity: .46;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  margin: 0 6px;
  cursor: pointer;
  height: 27px;
}

@media screen and (max-width: 1024px) {
  .content-slider-control .icon-right {
    height: 20px;
  }
}

.content-slider-control .icon-left {
  opacity: .46;
  margin: 0 6px;
  cursor: pointer;
  height: 27px;
}

@media screen and (max-width: 1024px) {
  .content-slider-control .icon-left {
    height: 20px;
  }
}

.content-slider {
  height: calc(100% - 318px);
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1919px) {
  .content-slider {
    height: calc(100% - 211px);
  }
}

@media screen and (max-width: 1024px) {
  .content-slider {
    height: calc(100% - 150px);
  }
}

@media screen and (max-width: 767px) {
  .content-slider {
    height: calc(100% - 175px);
  }
}

.content-slider-wrap {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: .4s;
}

.content-slider-item {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=main.css.map */
